body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f1f3f4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 14px 20px;
  font-family: 'Yusei Magic', sans-serif;
  font-size: 30px;
  font-weight: normal;
  background-color: #E53935;
  color: white;
}

.user-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("ChabbyICON.png");
  background-size: cover;
  background-position: center;
  border: 2px solid white;
}

.main {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 250px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.lang-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #202124;
}

.textarea {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 22px;
  line-height: 1.6;
  background-color: #f8f9fa;
  border: none;
  border-radius: 4px;
  resize: none;
  outline: none;
  width: 100%;
}

.footer-message {
  margin-top: 108px;
  padding: 25px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #D32F2F;
  background-color: #fff3f3;
  border-top: 2px solid #E53935;
}

/* スマホ版UI */
@media screen and (max-width: 600px) {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  .main {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 15px;
    margin-top: 30px;
  }

  .box {
    width: 100%;
    margin-bottom: 1rem;
  }

  .textarea {
    width: 100%;
    font-size: 16px;
    min-height: 120px;
  }

  header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  .footer-message {
    margin-top: 20px;
    padding: 30px;
    font-size: 16px;
  }
}

